@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Semibold.woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.woff2');
    font-style: normal;
    font-weight: 500;
}