* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 375px) {
    .wrapper__header {
        margin-bottom: 78px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px 0;
    }

    .header__logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 114px;
        height: 38px;
    }

    .header__logo-img {
        display: block;
        width: 43.55px;
        height: 38px;
    }

    .header__logo-text {
        display: block;
        width: 60.2px;
        height: 19px;
    }

    .header__mobile-menu-btn {
        display: block;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .header__mobile-menu-icon {
        display: block;
        width: 24px;
        height: 18px;
    }

    .main__get-started {
        margin-bottom: 36px;
    }

    .get-started {
        padding: 0 21px;
    }

    .get-started__heading-container {
        margin-bottom: 16px;
        position: relative;
    }

    .get-started__stars-img {
        width: 58.16px;
        height: 41.01px;
        position: absolute;
        left: 0px;
        top: -34.56px;
    }

    .get-started__heading {
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;    
        text-align: center;
        color: #212121;
    }

    .get-started__heading-part-selection {
        color: #FF474D;
    }

    .get-started__description {
        margin-bottom: 32px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        text-align: center;
        color: #5C5C5C;
    }

    .get-started__btn-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .get-started__btn {
        margin: 0 auto;
        width: 188px;
        height: 48px;
        border: 0;
        border-radius: 16px;
        background-color: #FF474D;
        font-family: 'Gilroy';
        font-size: 16px;
        color: #FFFFFF;
    }

    .get-started__btn-description {
        display: flex;
        justify-content: space-between;
        width: 111px;
    }

    .get-started__btn-description-text {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
        text-align: center;
        color: #5C5C5C;
    }

    .get-started__btn-description-img {
        width: 16px;
        height: 16px;
    }

    .interface-img-container {
        width: 613.16px;
        height: 417px;
        position: relative;
        left: 0px;
    }

    .interface-img-container__background-rectangle {
        width: 658.57px;
        height: 669.72px;
        position: absolute;
        left: -345px;
        bottom: -300px;
        transform: rotate(45deg);
    }

    .interface-img-container__background-inserted-rectangle {
        width: 615.02px;
        height: 615.02px;
        position: absolute;
        left: -325px;
        bottom: -260px;
        transform: rotate(45deg);
    }

    .interface-img-container__little-rectangles-small-img {
        width: 162.87px;
        height: 123.25px;
        position: absolute;
        top: -31.15px;
        left: -10px;
    }

    .interface-img-container__little-rectangles-big-img {
        width: 277.53px;
        height: 210.02px;
        position: absolute;
        bottom: 0px;
        left: 95px;
    }
    
    .interface-img-container__mobile-interface-img {
        width: 125.83px;
        height: 245.99px;
        position: absolute;
        bottom: 0px;
        left: 17px;
        transform: rotate(-8deg);
    }

    .interface-img-container__pc-interface-img {
        width: 465.28px;
        height: 311.93px;
        position: absolute;
        bottom: 60px;
        left: 102px;
        transform: rotate(-8deg);
    }

    .main__check-out {
        margin-bottom: 210.68px;
    }

    .check-out {
        padding: 98.5px 8.25px 0;
        position: relative;
        z-index: 0;
    }

    .check-out__background-rectangle {
        width: 2051.72px;
        height: 766.96px;
        transform: rotate(-8deg);
        position: absolute;
        top: -130px;
        left: -60px;
    }

    .check-out__main {
        margin-bottom: 48.18px;
        position: relative;
        z-index: 1;
    }

    .check-out__heading {
        margin-bottom: 16px;
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;
        text-align: center;
        color: rgb(33, 33, 33);
    }

    .check-out__description {
        margin-bottom: 32px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        text-align: center;
        color: rgb(92, 92, 92);
    }

    .check-out__play-video-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        width: 188px; 
        height: 48px;
        margin: 0 auto;
        border: none;
        border-radius: 16px;
        background-color: rgb(255, 255, 255);
    }

    .check-out__play-img {
        display: block;
        width: 10px;
        height: 12px;
    }

    .check-out__play-text {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
    }

    .check-out__img-container {
        position: relative;
        z-index: 1;
    }

    .check-out__chats-orders-payments-img {
        display: block;
        width: 343px;
        height: 302.65px;
    }

    .check-out-block__left-small-rectangles-img {
        display: block;
        width: 199.21px;
        height: 150.75px;
        position: absolute;
        top: 27.32px;
        left: -100.25px;
    }
    
    .check-out-block__right-small-rectangles-img {
        display: block;
        width: 298.65px;
        height: 226px;
        position: absolute;
        top: 233.82px;
        right: -160.9px;
    }

    .chain-transactions__main {
        width: 367px;
        margin: 0 0 57px 16px;
    }

    .chain-transactions__heading {
        width: 335px;
        margin-bottom: 16px;
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;
        text-align: center;
        color: rgb(33, 33, 33);
    }

    .chain-transactions__btn-container {
        display: flex;
        justify-content: center;
        column-gap: 8px;
        width: 311px;
        height: 40px;
        margin: 0 0 24px 16px;
    }

    .chain-transactions__btn {
        display: block;
        height: 40px;
        background-color: rgb(243, 244, 245);
        border: none;
        border-radius: 8px;
        padding: 0 24px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: rgb(33, 33, 33);
    }

    .chain-transactions__list {
        margin-bottom: 32px;
        padding-left: 20px;
        list-style-image: url('./images/list-rectangle.svg');
    }

    .chain-transactions__item {
        margin-bottom: 8px;
        padding-left: 8px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: rgb(33, 33, 33);
    }

    .chain-transaction__item:last-child {
        margin: 0;
    }

    .chain-transactions__more-features-btn {
        display: block;
        width: 180px;
        height: 48px;
        margin: 0 auto;
        border: none;
        border-radius: 16px;
        background-color: rgb(255, 71, 77);
        color: rgb(255, 255, 255);
        font-family: 'Gilroy';
        font-size: 16px;
    }

    .chain-transactions__img-block {
        height: 637.99px;
        position: relative;
    }

    .chain-transactions__particles-img {
        width: 83.19px;
        height: 130.22px;
        position: absolute;
        top: 1.87px;
        left: 12.39px;
        transform: rotate(147.97deg);
    }

    .chain-transactions__background-rectangle {
        width: 451.13px;
        height: 451.13px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .chain-transactions__background-inserted-rectangle {
        width: 395.02px;
        height: 395.02px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .chain-transactions__little-rectangles {
        display: block;
        width: 277.55px;
        height: 210.04px;
        position: absolute;
        right: -37.89px;
        top: 90.53px;
    }

    .chain-transactions__fruit-planet-img {
        display: block;
        width: 184px;
        height: 364px;
        position: absolute;
        left: -6.57px;
        top: 91.97px;
        transform: rotate(-8deg);
    }

    .chain-transactions__chats-img {
        display: block;
        width: 184px;
        height: 364px;
        position: absolute;
        right: -8.43px;
        top: 181.03px;
        transform: rotate(-8deg);
    }
}