@media (min-width: 768px) {
    .get-started__main {
        width: 477px;
    }

    .get-started__stars-img {
        left: 58.79px;
    }

    .get-started__heading {
        font-size: 32px;
    }

    .get-started__description {
        font-size: 16px;
    }

    .get-started__img-container {
        width: 1052.39px;
        height: 723px;
        position: relative;
    }

    .get-started__background-rectangle {
        width: 999px;
        height: 999px;
        top: 82.99px;
        left: -499.1px;
    }

    .get-started__background-inserted-rectangle {
        width: 921.24px;
        height: 921.24px;
        top: 121.78px;
        left: -460.2px;
    }

    .get-started__little-rectangles-small-img {
        width: 245px;
        height: 181.5px;
        left: 23px;
        top: 29px;
    }

    .get-started__mobile-interface-img {
        width: 199.95px;
        height: 390.89px;
        top: 293.1px;
        left: 53.23px;
    }

    .get-started__pc-interface-img {
        width: 811.28px;
        height: 543.89px;
        top: 26.81px;
        left: 234.21px;
    }

    .main__check-out {
        margin-bottom: 250px;
    }

    .check-out__main {
        width: 460px;
    }

    .check-out__heading {
        font-size: 32px;
    }

    .check-out__description {
        font-size: 16px;
    }

    .check-out-block__left-small-rectangles-img {
        width: 297px;
        height: 224.75px;
        top: -82px;
        left: -46.57px;
    }

    .check-out__background-rectangle {
        width: 1926px;
        height: 1219.66px;
        top: -200px;
        left: 0;
        clip-path: path("M-0.345208 330.975C-0.345205 299.13 23.0684 272.129 54.593 267.62L1925.65 0L1925.65 965.5L72.3299 1219.06C33.8935 1224.32 -0.345217 1194.44 -0.345215 1155.65L-0.345208 330.975Z");
    }

    .check-out__chats-orders-payments-img {
        width: 520.2px;
        height: 459px;
    }
    
    .chain-transactions__background-little-rectangles {
        width: 243.1px;
        height: 183.97px;
        top: 327px;
        right: -91.1px;
    }

    .chain-transactions__img-block {
        height: 820.98px;
    }

    .chain-transactions__particles-img {
        width: 107.75px;
        height: 167.41px;
        top: 90.44px;
        left: 8.92px;
    }

    .chain-transactions__background-rectangle {
        width: 580.53px;
        height: 580.53px;
    }

    .chain-transactions__background-inserted-rectangle {
        width: 508.33px;
        height: 508.33px;
    }

    .chain-transactions__little-rectangles-small {
        width: 243.1px;
        height: 183.97px;
        top: -53.5px;
        right: -91.1px;
    }

    .chain-transactions__little-rectangles-big {
        width: 357.16px;
        height: 270.28px;
        right: 111.84px;
        top: 116.5px;
    }

    .chain-transactions__fruit-planet-img {
        width: 252px;
        height: 500px;
        top: 96.45px;
        transform: translate(calc(-100% - 24px), 0) rotate(-8deg);
    }

    .chain-transactions__chats-img {
        width: 252px;
        height: 500px;
        top: 219.6px;
        transform: translate(calc(100% + 23px), 0) rotate(-8deg);
    }

    .featured-on__wrapper {
        width: 100%;
    }

    .featured-on__heading {
        font-size: 32px;
    }

    .featured-on__horizontal-line {
        width: 336px;
    }

    .featured-on__img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 60px;
        width: 490px;
        margin: 0 auto;
    }

    .featured-on__img_techcrunch,
    .featured-on__img_techinasia,
    .featured-on__img_pymnts,
    .featured-on__img_venturebeat {
        margin: 0;
    }

    .featured-on__img_venturebeat {
        transform: translate(-17px, 10px);
    }

    .main__why-choose {
        margin-bottom: 274.54px;
    }

    .why-choose {
        padding-top: 284px;
    }

    .why-choose__particles-img {
        width: 341.25px;
        height: 654.08px;
        top: -260.25px;
        left: calc(100vw - 497.26px);
    }

    .why-choose__background-container {
        width: 1853px;
        height: 1219.83px;
        top: -35px;
        left: 0;
    }

    .why-choose__long-background-rectangle {
        width: 1848px;
        height: 1209.39px;
        clip-path: path("M0 317.417C-1.17888e-06 285.54 23.4593 258.522 55.0214 254.05L1848 0L1848 968.745L72.5755 1208.8C34.171 1213.99 3.20526e-05 1184.13 3.06194e-05 1145.38L0 317.417Z");
    }

    .why-choose__left-background-rectangle {
        top: 52.15px;
        left: -270.24px;
    }

    .why-choose__right-background-rectangle {
        top: 385.45px;
        left: calc(100vw - 304.88px);
    }

    .why-choose__second-left-background-rectangle {
        width: 359.3px;
        height: 359.3px;
        border-radius: 33.44px;
        top: calc(1209.39px + 32.14px);
        left: -145.6px;
    }

    .why-choose__little-rectangles {
        width: 424px;
        height: 320.99px;
        top: 1008.33px;
        left: -159px;
    }

    .why-choose__wrapper {
        width: 490px;
        padding: 0;
    }

    .why-choose__heading {
        margin: 0 0 32px;
        font-size: 32px;
        text-align: center;
        transform: translateX(4px);
    }

    .why-choose__review-block {
        width: 490px;
        height: 610px;
        transform: translateX(4px);
    }

    .why-choose__review-img-container {
        height: 298px;
    }

    .why-choose__item-img {
        left: 133px;
    }

    .why-choose__item-shadow-img {
        left: 175.45px;
    }

    .why-choose__item-particles-img {
        width: 64.77px;
        height: 104.37px;
        left: 274.57px;
        top: 109.27px;
    }

    .who-choose__review-text-container {
        width: 474px;
    }

    .why-choose__client-logo {
        width: 94px;
        height: 48px;
    }

    .why-choose__client-name {
        font-size: 18px;
    }

    .why-choose__client-description {
        font-size: 12px;
    }

    .why-choose__navigation-list {
        column-gap: 20.97px;
        transform: translateX(4px);
    }

    .why-choose__navigation-item {
        width: 12px;
        height: 12px;
    }

    .put-a-smile__right-little-rectangles {
        width: 381.07px;
        height: 288.37px;
        top: -131.61px;
        right: -101.62px;
    }

    .put-a-smile__left-little-rectangles {
        width: 248.38px;
        height: 187.96px;
        top: 464.04px;
        left: -123.76px;
    }

    .put-a-smile__heading {
        font-size: 32px;
    }

    .put-a-smile__companies-container:first-child {
        margin-bottom: 153.53px;
    }

    .put-a-smile__company-container {
        width: 110.41px;
        height: 110.41px;
    }

    .put-a-smile__company-img-container {
        width: 82.15px;
        height: 82.15px;
    }

    .put-a-smile__company-container_nayla {
        transform: translate(-66.74px, 224.96px) rotate(45deg);
    }

    .put-a-smile__company-container_toko-kita {
        transform: translate(66.74px, 224.96px) rotate(45deg);
    }

    .put-a-smile__company-container_hex-healthcare {
        transform: translate(-33.37px, 112.48px) rotate(45deg);
    }

    .put-a-smile__company-container_binondo-beauty-supply {
        transform: translate(33.37px, 112.48px) rotate(45deg);
    }

    .put-a-smile__company-container_burger-and-lobster {
        transform: translate(-66.74px, -224.96px) rotate(45deg);
    }

    .put-a-smile__company-container_group-of-companies {
        transform: translate(66.74px, -224.96px) rotate(45deg);
    }

    .put-a-smile__company-container_es-teh-indonesia {
        transform: translate(-33.37px, -112.48px) rotate(45deg);
    }

    .put-a-smile__company-container_gong-cha {
        transform: translate(33.37px, -112.48px) rotate(45deg);
    }

    .put-a-smile__company-img_nayla {
        width: 44.23px;
        height: 54.06px;
    }

    .put-a-smile__company-img_hex-healthcare {
        width: 54.98px;
        height: 36.04px;
    }

    .put-a-smile__company-img_pet-shop-gembul {
        width: 55.7px;
        height: 50.79px;
    }

    .put-a-smile__company-img_binondo-beauty-supply {
        width: 53.24px;
        height: 54.06px;
    }

    .put-a-smile__company-img_toko-kita {
        width: 55.7px;
        height: 55.7px;
    }

    .put-a-smile__company-img_burger-and-lobster {
        width: 67.17px;
        height: 62.26px;
    }

    .put-a-smile__company-img_es-teh-indonesia {
        width: 76.85px;
        height: 24.57px;
    }

    .put-a-smile__company-img_kho-pa-ka {
        width: 50.04px;
        height: 55.7px;
    }

    .put-a-smile__company-img_gong-cha {
        width: 53.11px;
        height: 54.88px;
    }

    .put-a-smile__company-img_group-of-companies {
        width: 54.06px;
        height: 44.23px;
    }
    
    .put-a-smile__central-block {
        width: 346.48px;
        height: 346.48px;
        border-radius: 25.35px;
        padding: 19.67px;
        margin-bottom: 153.53px;
    }

    .put-a-smile__nested-rectangle {
        width: 307.15px;
        height: 307.15px;
        border-radius: 25.35px;
        padding: 24.04px;
    }

    .put-a-smile__red-rectangle {
        width: 259.06px;
        height: 259.06px;
        border-radius: 25.35px;
    }

    .put-a-smile__happy-businesses-container {
        width: 259px;
        padding-top: 20px;
    }

    .put-a-smile__happy-businesses-text {
        width: 259px;
        margin-bottom: 12.54px;
        font-size: 30px;
    }

    .put-a-smile__smile-img {
        width: 195.94px;
        height: 72.88px;
    }

    .form-block {
        position: relative;
    }

    .form-block__background-container {
        display: block;
        position: relative;
    }

    .form-block__background-big-rectangle {
        width: 1573.5px;
        height: 1433px;
        position: absolute;
        top: -289px;
        right: 0;
        clip-path: path("M0 0L1518.89 225.397C1550.27 230.052 1573.5 256.985 1573.5 288.703L1573.5 1369C1573.5 1404.35 1544.85 1433 1509.5 1433L1.08697e-06 1433L0 0Z");
        background-color: rgb(246, 246, 246);
        z-index: -1;
    }

    .form-block__right-little-rectangles {
        width: 457.23px;
        height: 346px;
        position: absolute;
        top: 285px;
        right: -139.22px;
        z-index: -1;
    }

    .form-block__left-little-rectangles {
        width: 244.47px;
        height: 185px;
        position: absolute;
        top: 90px;
        left: 16px;
        z-index: -1;
    }

    .form-block__background {
        width: 1573.5px;
        height: 1433px;
        position: absolute;
        bottom: 0;
        right: 0;
        clip-path: path("M0 0L1518.89 225.397C1550.27 230.052 1573.5 256.985 1573.5 288.703L1573.5 1369C1573.5 1404.35 1544.85 1433 1509.5 1433L0 1433L0 0Z");
        z-index: -1;
        background-color: rgb(246, 246, 246);
    }

    .form-block__heading {
        width: 477px;
        margin-bottom: 32px;
        font-size: 32px;
    }

    .form-block__form-container {
        width: 489px;
        margin: 0 auto;
        border-radius: 32px;
        padding: 32px;
        background: radial-gradient(
            60% 60% at 50% 50%,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(250, 250, 250, 0.6) 100%
        );
    }

    .form-block__form {
        width: 425px;
        border-radius: 32px;
        background-color: rgb(255, 255, 255);
    }

    .form-block__map-img-container {
        width: 100%;
        max-width: 699px;
        height: 501px;
        margin: 0 0 0 auto;
        overflow: hidden;
        transform: translate(-111px, -50px);
        z-index: 0;
    }

    .footer {
        padding-bottom: 16px;
    }

    .footer__nav {
        width: 100%;
        margin: 0;
    }

    .footer__list {
        display: flex;
        justify-content: space-between;
        width: 389px;
        margin: 0 auto 32px;
    }

    .footer__item {
        height: auto;
        margin: 0;
    }

    .footer__social-block {
        flex-direction: row;
        justify-content: space-between  ;
        width: 354px;
        margin: 0 auto 20px;
    }

    .footer__social-container {
        width: auto;
    }

    .footer__bottom-text-container {
        width: 406px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__rights-text {
        margin: 0;
        font-size: 12px;
    }

    .footer__service-link_privacy-policy {
        font-size: 12px;
        transform: translateY(2px);
    }

    .footer__service-link_terms-of-service {
        transform: translateY(2px);
    }

    .footer__separator {
        height: 14px;
    }

    .footer__separator_service-link {
        display: block;
    }
}