* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 375px) {
    .wrapper__header {
        margin-bottom: 78px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px 0;
    }

    .header__logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 114px;
        height: 38px;
    }

    .header__logo-img {
        display: block;
        width: 43.55px;
        height: 38px;
    }

    .header__logo-text {
        display: block;
        width: 60.2px;
        height: 19px;
    }

    .header__mobile-menu-btn {
        display: block;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .header__mobile-menu-icon {
        display: block;
        width: 24px;
        height: 18px;
    }

    .main__get-started {
        margin-bottom: 36px;
    }

    .get-started {
        padding: 0 21px;
    }

    .get-started__heading-container {
        margin-bottom: 16px;
        position: relative;
    }

    .get-started__stars-img {
        width: 58.16px;
        height: 41.01px;
        position: absolute;
        left: 0px;
        top: -34.56px;
    }

    .get-started__heading {
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;    
        text-align: center;
        color: #212121;
    }

    .get-started__heading-part-selection {
        color: #FF474D;
    }

    .get-started__description {
        margin-bottom: 32px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        text-align: center;
        color: #5C5C5C;
    }

    .get-started__btn-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .get-started__btn {
        margin: 0 auto;
        width: 188px;
        height: 48px;
        border: 0;
        border-radius: 16px;
        background-color: #FF474D;
        font-family: 'Gilroy';
        font-size: 16px;
        color: #FFFFFF;
    }

    .get-started__btn-description {
        display: flex;
        justify-content: space-between;
        width: 111px;
    }

    .get-started__btn-description-text {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
        text-align: center;
        color: #5C5C5C;
    }

    .get-started__btn-description-img {
        width: 16px;
        height: 16px;
    }

    .interface-img-container {
        width: 613.16px;
        height: 417px;
        position: relative;
        left: 0px;
    }

    .interface-img-container__background-rectangle {
        width: 658.57px;
        height: 669.72px;
        position: absolute;
        left: -345px;
        bottom: -300px;
        transform: rotate(45deg);
    }

    .interface-img-container__background-inserted-rectangle {
        width: 615.02px;
        height: 615.02px;
        position: absolute;
        left: -325px;
        bottom: -260px;
        transform: rotate(45deg);
    }

    .interface-img-container__little-rectangles-small-img {
        width: 162.87px;
        height: 123.25px;
        position: absolute;
        top: -31.15px;
        left: -10px;
    }

    .interface-img-container__little-rectangles-big-img {
        width: 277.53px;
        height: 210.02px;
        position: absolute;
        bottom: 0px;
        left: 95px;
    }
    
    .interface-img-container__mobile-interface-img {
        width: 125.83px;
        height: 245.99px;
        position: absolute;
        bottom: 0px;
        left: 17px;
        transform: rotate(-8deg);
    }

    .interface-img-container__pc-interface-img {
        width: 465.28px;
        height: 311.93px;
        position: absolute;
        bottom: 60px;
        left: 102px;
        transform: rotate(-8deg);
    }
}