* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

@media (min-width: 375px) {
    .wrapper__header {
        margin-bottom: 78px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px 0;
    }

    .header__logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 114px;
        height: 38px;
    }

    .header__logo-img {
        display: block;
        width: 43.55px;
        height: 38px;
    }

    .header__logo-text {
        display: block;
        width: 60.2px;
        height: 19px;
    }

    .header__mobile-menu-btn {
        display: block;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .header__mobile-menu-icon {
        display: block;
        width: 24px;
        height: 18px;
    }

    .main__get-started {
        margin-bottom: 36px;
    }

    .get-started__main {
        width: 333px;
        margin: 0 auto;        
    }

    .get-started__heading-container {
        margin-bottom: 16px;
        position: relative;
    }

    .get-started__stars-img {
        width: 58.16px;
        height: 41.01px;
        position: absolute;
        left: 0px;
        top: -34.56px;
    }

    .get-started__heading {
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;    
        text-align: center;
        color: #212121;
    }

    .get-started__heading-part-selection {
        color: #FF474D;
    }

    .get-started__description {
        margin: 0 auto 32px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        text-align: center;
        color: #5C5C5C;
    }

    .get-started__btn-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .get-started__btn {
        margin: 0 auto;
        width: 188px;
        height: 48px;
        border: 0;
        border-radius: 16px;
        background-color: #FF474D;
        font-family: 'Gilroy';
        font-size: 16px;
        color: #FFFFFF;
    }

    .get-started__btn-description {
        display: flex;
        justify-content: space-between;
        width: 111px;
    }

    .get-started__btn-description-text {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
        text-align: center;
        color: #5C5C5C;
    }

    .get-started__btn-description-img {
        width: 16px;
        height: 16px;
    }

    .get-started__img-container {
        width: 613.16px;
        height: 417px;
        position: relative;
        left: 0px;
    }

    .get-started__background-rectangle-img {
        width: 658.57px;
        height: 669.72px;
        position: absolute;
        left: -345px;
        bottom: -300px;
        transform: rotate(45deg);
    }

    .get-started__background-inserted-rectangle-img {
        width: 615.02px;
        height: 615.02px;
        position: absolute;
        left: -325px;
        bottom: -260px;
        transform: rotate(45deg);
    }

    .get-started__little-rectangles-small-img {
        width: 162.87px;
        height: 123.25px;
        position: absolute;
        top: 4.85px;
        left: -14.87px;
    }

    .get-started__little-rectangles-big-img {
        width: 277.53px;
        height: 210.02px;
        position: absolute;
        bottom: 0px;
        left: 95px;
    }
    
    .get-started__mobile-interface-img {
        width: 125.83px;
        height: 245.99px;
        position: absolute;
        top: 199.47px;
        left: 19.51px;
        transform: rotate(-8deg);
    }

    .get-started__pc-interface-img {
        width: 465.28px;
        height: 311.93px;
        position: absolute;
        top: 66.86px;
        left: 134.44px;
        transform: rotate(-8deg);
    }

    .main__check-out {
        margin-bottom: 210.68px;
    }

    .check-out {
        padding: 98.5px 8.25px 0;
        position: relative;
        z-index: 0;
    }

    .check-out__background-rectangle {
        width: 2051.72px;
        height: 766.96px;
        transform: rotate(-8deg);
        position: absolute;
        top: -130px;
        left: -60px;
    }

    .check-out__main {
        margin-bottom: 48.18px;
        position: relative;
        z-index: 1;
    }

    .check-out__heading {
        margin-bottom: 16px;
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;
        text-align: center;
        color: rgb(33, 33, 33);
    }

    .check-out__description {
        margin-bottom: 32px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        text-align: center;
        color: rgb(92, 92, 92);
    }

    .check-out__play-video-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        width: 188px; 
        height: 48px;
        margin: 0 auto;
        border: none;
        border-radius: 16px;
        background-color: rgb(255, 255, 255);
    }

    .check-out__play-img {
        display: block;
        width: 10px;
        height: 12px;
    }

    .check-out__play-text {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
    }

    .check-out__img-container {
        position: relative;
        z-index: 1;
    }

    .check-out__chats-orders-payments-img {
        display: block;
        width: 343px;
        height: 302.65px;
    }

    .check-out-block__left-small-rectangles-img {
        display: block;
        width: 199.21px;
        height: 150.75px;
        position: absolute;
        top: 27.32px;
        left: -100.25px;
    }
    
    .check-out-block__right-small-rectangles-img {
        display: block;
        width: 298.65px;
        height: 226px;
        position: absolute;
        top: 233.82px;
        right: -160.9px;
    }

    .main__chain-transactions {
        margin-bottom: 70px;
    }

    .chain-transactions__main {
        width: 367px;
        margin: 0 0 57px 16px;
    }

    .chain-transactions__heading {
        width: 345px;
        margin-bottom: 16px;
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;
        text-align: center;
        color: rgb(33, 33, 33);
    }

    .chain-transactions__heading::after {
        display: inline-block;
        content: "";
        width: 2px;
        height: 36px;
        border-radius: 1px;
        background: #222;
        transform: translate(-7px, 10px);
    }

    .chain-transactions__heading-part-selection {
        color: #FF474D;
    }

    .chain-transactions__btn-container {
        display: flex;
        justify-content: center;
        column-gap: 8px;
        width: 311px;
        height: 40px;
        margin: 0 0 24px 16px;
    }

    .chain-transactions__btn {
        display: block;
        height: 40px;
        background-color: rgb(243, 244, 245);
        border: none;
        border-radius: 8px;
        padding: 0 24px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: rgb(33, 33, 33);
    }

    .chain-transactions__btn_checked {
        border: 1px solid rgb(33, 33, 33);
    }

    .chain-transactions__list {
        margin-bottom: 32px;
        padding-left: 20px;
        list-style-image: url('./images/list-rectangle.svg');
    }

    .chain-transactions__item {
        margin-bottom: 8px;
        padding-left: 8px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: rgb(33, 33, 33);
    }

    .chain-transaction__item:last-child {
        margin: 0;
    }

    .chain-transactions__more-features-btn {
        display: block;
        width: 180px;
        height: 48px;
        margin: 0 auto;
        border: none;
        border-radius: 16px;
        background-color: rgb(255, 71, 77);
        color: rgb(255, 255, 255);
        font-family: 'Gilroy';
        font-size: 16px;
    }

    .chain-transactions__img-block {
        height: 637.99px;
        position: relative;
    }

    .chain-transactions__particles-img {
        width: 83.19px;
        height: 130.22px;
        position: absolute;
        top: 1.87px;
        left: 12.39px;
        transform: rotate(147.97deg);
    }

    .chain-transactions__background-rectangle {
        width: 451.13px;
        height: 451.13px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .chain-transactions__background-inserted-rectangle {
        width: 395.02px;
        height: 395.02px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .chain-transactions__little-rectangles {
        display: block;
        width: 277.55px;
        height: 210.04px;
        position: absolute;
        right: -37.89px;
        top: 90.53px;
    }

    .chain-transactions__fruit-planet-img {
        display: block;
        width: 184px;
        height: 364px;
        position: absolute;
        left: -6.57px;
        top: 91.97px;
        transform: rotate(-8deg);
    }

    .chain-transactions__chats-img {
        display: block;
        width: 184px;
        height: 364px;
        position: absolute;
        right: -8.43px;
        top: 181.03px;
        transform: rotate(-8deg);
    }

    .featured-on {
        padding: 49px 0 48px;
        background-color: rgb(250, 250, 250);
    }

    .featured-on__wrapper {
        width: 253px;
        margin: 0 auto;
    }

    .featured-on__heading {
        margin-bottom: 24px;
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;    
        text-align: center;
        color: #212121;
    }

    .featured-on__horizontal-line {
        width: 253px;
        height: 1px;
        margin: 0 auto 32px;
        border: none;
        background-color: rgb(210, 210, 210);
    }

    .featured-on__img-container {
        width: 203px;
        margin-left: 11px;
    }

    .featured-on__img {
        display: block;
        margin: 0 auto;
    }

    .featured-on__img_techcrunch {
        width: 189px;
        height: 28px;
        margin-bottom: 48px;
    }

    .featured-on__img_techinasia {
        width: 203px;
        height: 40px;
        margin-bottom: 48px;
    }

    .featured-on__img_pymnts {
        width: 153px;
        height: 22px;
        margin-bottom: 58px;
    }

    .featured-on__img_venture-beat {
        width: 169px;
        height: 20px;
    }

    .why-choose {
        padding-top: 258px;
        position: relative;
    }

    .main__why-choose {
        margin-bottom: 200px;
    }

    .why-choose__particles-img {
        display: block;
        width: 213.57px;
        height: 353.29px;
        position: absolute;
        top: -121.73px;
        right: 76.25px;
        transform: rotate(90.55deg);
        z-index: -1;
    }

    .why-choose__background {
        position: absolute;
        top: 47.42px;
        left: -71.28px;
        transform: rotate(-8deg);
        overflow: hidden;
        z-index: -1;
    }

    .why-choose__long-background-img {
        display: block;
        width: 1991.91px;
        height: 904.53px;
    }

    .why-choose__left-background-rectangle-img {
        display: block;
        width: 626.13px;
        height: 626.13px;
        position: absolute;
        left: -245px;
        top: -210px;
        transform: rotate(53deg);
    }

    .why-choose__right-background-rectangle-img {
        display: block;
        width: 840.74px;
        height: 840.74px;
        transform: rotate(53deg);
        position: absolute;
        top: 240px;
        right: 730px;
    }

    .why-choose__little-rectangles {
        display: block;
        width: 411.26px;
        height: 311.21px;
        position: absolute;
        bottom: -178px;
        left: -142px;
        transform: rotate(8deg);
    }

    .why-choose__wrapper {
        width: 375px;
        margin: 0 auto;
        padding-left: 32px;
    }

    .why-choose__heading {
        margin: 0 0 32px 26px;
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;
        text-align: left;
        color: rgb(255, 255, 255);
    }

    .why-choose__review-block {
        width: 343px;
        height: 550px;
        margin-bottom: 26.07px;
        border-radius: 32px;
        padding-top: 20px;
        background-color: rgb(255, 255, 255);
    }

    .why-choose__review-img-container {
        height: 235px;
        position: relative;
    }
    
    .why-choose__item-shadow-img {
        height: 235px;
        position: absolute;
        top: 0;
        left: 125.48px;
    }

    .why-choose__item-img {
        position: absolute;
        top: 0;
        left: 92px;
    }

    .why-choose__item-particles-img {
        display: block;
        width: 51.08px;
        height: 82.3px;
        position: absolute;
        top: 86.17px;
        left: 201.6px;
        transform: rotate(50.5deg);
    }

    .who-choose__review-text-container {
        width: 327px;
        margin-bottom: 24px;
        border-radius: 0 16px 16px 0;
        padding: 20px 16px 20px 24px;
        background-color: rgb(241, 241, 241);
    }

    .why-choose__review-text {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }

    .why-choose__client-block {
        display: flex;
        column-gap: 12px;
        align-items: center;
        padding-left: 24px;
        position: relative;
    }

    .why-choose__client-name {
        margin-bottom: 4px;
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
    }

    .why-choose__client-description {
        font-family: 'Inter', sans-serif;
        font-size: 10px;
    }

    .why-choose__quote-img {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        right: 24px;
    }

    .why-choose__navigation {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-right: 32px;
    }
    
    .why-choose__navigation-list {
        display: flex;
        column-gap: 20.14px;
        list-style-type: none;
    }

    .why-choose__navigation-item {
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        transform: rotate(45deg);
    }

    .why-choose__navigation-item_selected {
        background-color: rgb(255, 255, 255);
    }

    .main__put-a-smile {
        margin-bottom: 172.62px;
    }

    .put-a-smile__heading {
        margin-bottom: 56.84px;
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;    
        text-align: center;
        color: #212121;       
    }

    .put-a-smile__companies-container {
        display: flex;
        justify-content: center;
        column-gap: 6.26px;
    }

    .put-a-smile__companies-container:first-child {
        margin-bottom: 108.85px;
    }

    .put-a-smile__company-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56.64px;
        height: 56.64px;
        border-radius: 5px;
        background: radial-gradient(circle,#dadada 0%,#fafafa 80%);
    }

    .put-a-smile__company-img-container_nayla,
    .put-a-smile__company-img-container_toko-kita {
        transform: translateY(calc(100% * 2 + 4.26px * 2)) rotate(45deg);
    }

    .put-a-smile__company-img-container_pet-shop-gembul,
    .put-a-smile__company-img-container_kho-pa-ka {
        transform: rotate(45deg);
    }

    .put-a-smile__company-img-container_hex-healthcare,
    .put-a-smile__company-img-container_binondo-beauty-supply {
        transform: translateY(calc(100% + 4.26px)) rotate(45deg);
    }

    .put-a-smile__company-img-container_burger-and-lobster,
    .put-a-smile__company-img-container_group-of-companies {
        transform: translateY(calc(-100% * 2 - 4.26px * 2)) rotate(45deg);
    }

    .put-a-smile__company-img-container_es-teh-indonesia,
    .put-a-smile__company-img-container_gong-cha {
        transform: translateY(calc(-100% - 4.26px)) rotate(45deg);
    }

    .put-a-smile__company-img {
        display: block;
        transform: rotate(-45deg);
    }

    .put-a-smile__company-img_nayla {
        width: 30.45px;
        height: 37.21px;
    }

    .put-a-smile__company-img_hex-healthcare {
        width: 40.6px;
        height: 24.81px;
    }

    .put-a-smile__company-img_pet-shop-gembul {
        width: 38.34px;
        height: 34.96px;
    }

    .put-a-smile__company-img_binondo-beauty-supply {
        width: 36.65px;
        height: 37.21px;
    }

    .put-a-smile__company-img_toko-kita {
        width: 38.34px;
        height: 38.34px;
    }

    .put-a-smile__company-img_burger-and-lobster {
        width: 46.23px;
        height: 42.85px;
    }

    .put-a-smile__company-img_es-teh-indonesia {
        width: 48.49px;
        height: 16.91px;
    }

    .put-a-smile__company-img_kho-pa-ka {
        width: 31.58px;
        height: 38.34px;
    }

    .put-a-smile__company-img_gong-cha {
        width: 36.56px;
        height: 37.78px;
    }

    .put-a-smile__company-img_group-of-companies {
        width: 37.21px;
        height: 30.45px;
    }

    .put-a-smile__central-block {
        width: 242.54px;
        height: 242.54px;
        margin: 0 auto 109.07px;
        border-radius: 17.75px;
        padding: 13.77px;
        position: relative;
        background-color: rgba(251, 36, 43, 0.3);
        transform: rotate(45deg);
    }

    .put-a-smile__nested-rectangle {
        width: 215px;
        height: 215px;
        padding: 16.83px;
        border-radius: 17.75px;
        background-color: rgba(251, 36, 43, 0.3);
    }

    .put-a-smile__red-rectangle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 181.34px;
        height: 181.34px;
        border-radius: 17.75px;
        background-color: rgb(251, 36, 43);
    }

    .put-a-smile__happy-businesses-container {
        width: 181.34px;
        transform: rotate(-45deg);
    }

    .put-a-smile__happy-businesses-text {
        margin-bottom: 12.54px;
        font-family: 'Gilroy', sans-serif;
        font-size: 21px;
        text-align: center;
        color: rgb(255, 255, 255);
    }

    .put-a-smile__smile-img {
        display: block;
        width: 137.16px;
        height: 51.02px;
        margin: 0 auto;
    }

    .form-block__heading {
        width: 310px;
        margin: 0 auto 89px;
        font-family: 'Gilroy', sans-serif;
        font-size: 28px;    
        text-align: center;
        color: #212121;
    }

    .form-block__container {
        width: 375px;
        margin: 0 auto;
        padding: 16px;
    }

    .form-block__form {
        width: 375px;
        padding: 40px 24px;
        background-color: rgb(255, 255, 255);
    }

    .main__form-block {
        margin-bottom: 422px;
        position: relative;
    }

    .form-block__form-heading {
        margin-bottom: 32px;
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        text-align: center;
        color: #212121;
    }

    .form-block__highlighted-text {
        color: rgb(255, 71, 77);
    }

    .form-block__input-container {
        margin-bottom: 16px;
    }

    .form-block__input-container_last {
        margin-bottom: 48px;
    }

    .form-block__label {
        display: block;
        margin-bottom: 8px;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        color: rgb(92, 92, 92);
    }

    .form-block__input {
        display: block;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 8px;
        padding: 11px 16px 12px;
        background-color: rgb(243, 244, 245);
        font-family: 'Inter';
        font-size: 16px;
        color: rgb(189, 189, 189);
    }

    .form-block__input::placeholder {
        color: rgb(189, 189, 189);
        font-weight: 300;
    }

    .form-block__submit-btn {
        display: block;
        width: 180px;
        height: 48px;
        margin: 0 auto 14px;
        border: none;
        border-radius: 16px;
        background-color: rgb(255, 71, 77);
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        color: rgb(255, 255, 255);
    }

    .form-block__promise-text {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
        text-align: center;
        color: rgb(189, 189, 189);
    }

    .form-block__map-img {
        display: block;
        width: 559px;
        height: 386px;
        position: absolute;
        bottom: -359px;
        right: 4px;
    }

    .footer {
        padding-bottom: 8px;
    }

    .footer__logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 24px;
        width: 114px;
        height: 38px;
    }

    .footer__logo-img {
        display: block;
        width: 43.55px;
        height: 38px;
    }

    .footer__logo-text {
        display: block;
        width: 60.2px;
        height: 19px;
    }

    .footer__nav {
        width: 64px;
        margin: 0 auto 48px;
    }

    .footer__list {
        list-style-type: none;
    }

    .footer__item {
        height: 27px;
        margin-bottom: 16px;
        font-family: 'Gilroy';
        font-size: 14px;
        text-align: center;
        color: rgb(33, 33, 33);
    }

    .footer__list .footer__item:last-child {
        margin: 0;
    }

    .footer__social-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        margin-bottom: 16px;
    }

    .footer__social-container {
        display: flex;
        justify-content: center;
        column-gap: 16px;
        width: 180px;
    }

    .footer__social-img {
        display: block;
    }

    .footer__bottom-text-container{
        width: 180px;
        margin: 0 auto; 
    }

    .footer__rights-text {
        margin-bottom: 7px;
        font-family: 'Inter', sans-serif;
        font-size: 10px;
        color: rgb(189, 189, 189);
    }

    .footer__service-links-container {
        display: flex;
        justify-content: right;
        align-items: center;
        column-gap: 8px;
    }

    .footer__service-link {
        font-family: 'Gilroy';
        color: rgb(189, 189, 189);
    }

    .footer__service-link {
        display: block;
        font-family: 'Gilroy';
        text-decoration: none;
        color: rgb(189, 189, 189);
    }

    .footer__service-link_privacy-policy {
        font-size: 10px;
    }

    .footer__service-link_terms-of-service {
        font-size: 13px;
    }

    .footer__separator {
        width: 1px;
        height: 10px;
        background-color: rgb(189, 189, 189);
    }
}