@media (min-width: 768px) {
    .get-started__main {
        width: 477px;
    }

    .get-started__stars-img {
        left: 58.79px;
    }

    .get-started__heading {
        font-size: 32px;
    }

    .get-started__description {
        font-size: 16px;
    }

    .get-started__img-container {
        width: 1052.39px;
        height: 723px;
        position: relative;
    }

    .get-started__background-rectangle {
        width: 999px;
        height: 999px;
        top: 82.99px;
        left: -499.1px;
    }

    .get-started__background-inserted-rectangle {
        width: 921.24px;
        height: 921.24px;
        top: 121.78px;
        left: -460.2px;
    }

    .get-started__little-rectangles-small-img {
        width: 245px;
        height: 181.5px;
        left: 23px;
        top: 29px;
    }

    .get-started__mobile-interface-img {
        width: 199.95px;
        height: 390.89px;
        top: 293.1px;
        left: 53.23px;
    }

    .get-started__pc-interface-img {
        width: 811.28px;
        height: 543.89px;
        top: 26.81px;
        left: 234.21px;
    }

    .main__check-out {
        margin-bottom: 250px;
    }

    .check-out__main {
        width: 460px;
    }

    .check-out__heading {
        font-size: 32px;
    }

    .check-out__description {
        font-size: 16px;
    }

    .check-out-block__left-small-rectangles-img {
        width: 297px;
        height: 224.75px;
        top: -82px;
        left: -46.57px;
    }

    .check-out__background-rectangle {
        width: 1926px;
        height: 1219.66px;
        top: -200px;
        left: 0;
        clip-path: path("M-0.345208 330.975C-0.345205 299.13 23.0684 272.129 54.593 267.62L1925.65 0L1925.65 965.5L72.3299 1219.06C33.8935 1224.32 -0.345217 1194.44 -0.345215 1155.65L-0.345208 330.975Z");
    }

    .check-out__chats-orders-payments-img {
        width: 520.2px;
        height: 459px;
    }

    .chain-transactions__img-block {
        height: 820.98px;
    }

    .chain-transactions__particles-img {
        width: 107.75px;
        height: 167.41px;
        top: 90.44px;
        left: 8.92px;
    }

    .chain-transactions__background-rectangle {
        width: 580.53px;
        height: 580.53px;
    }

    .chain-transactions__background-inserted-rectangle {
        width: 508.33px;
        height: 508.33px;
    }

    .chain-transactions__little-rectangles-small {
        width: 243.1px;
        height: 183.97px;
        top: -53.5px;
        right: -91.1px;
    }

    .chain-transactions__little-rectangles-big {
        width: 357.16px;
        height: 270.28px;
        right: 111.84px;
        top: 116.5px;
    }

    .chain-transactions__fruit-planet-img {
        width: 252px;
        height: 500px;
        top: 96.45px;
        transform: translate(calc(-100% - 24px), 0) rotate(-8deg);
    }

    .chain-transactions__chats-img {
        width: 252px;
        height: 500px;
        top: 219.6px;
        transform: translate(calc(100% + 23px), 0) rotate(-8deg);
    }

    .featured-on__wrapper {
        width: 100%;
    }

    .featured-on__heading {
        font-size: 32px;
    }

    .featured-on__horizontal-line {
        width: 336px;
    }

    .featured-on__img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 60px;
        width: 490px;
        margin: 0 auto;
    }

    .featured-on__img_techcrunch,
    .featured-on__img_techinasia,
    .featured-on__img_pymnts,
    .featured-on__img_venturebeat {
        margin: 0;
    }

    .featured-on__img_venturebeat {
        transform: translate(-17px, 10px);
    }

    .main__why-choose {
        margin-bottom: 274.54px;
    }

    .why-choose {
        padding-top: 284px;
    }

    .why-choose__particles-img {
        width: 341.25px;
        height: 654.08px;
        top: -292.58px;
        right: 156.01px;
    }

    .why-choose__background {
        top: 0;
    }

    .why-choose__wrapper {
        width: 490px;
        padding: 0;
    }

    .why-choose__heading {
        margin: 0 0 32px;
        font-size: 32px;
        text-align: center;
    }

    .why-choose__review-block {
        width: 490px;
        height: 610px;
        transform: translateX(4px);
    }

    .why-choose__review-img-container {
        height: 298px;
    }

    .why-choose__item-img {
        left: 133px;
    }

    .why-choose__item-shadow-img {
        left: 175.45px;
    }

    .why-choose__item-particles-img {
        width: 64.77px;
        height: 104.37px;
        left: 274.57px;
        top: 109.27px;
    }

    .who-choose__review-text-container {
        width: 474px;
    }

    .why-choose__client-logo {
        width: 94px;
        height: 48px;
    }

    .why-choose__client-name {
        font-size: 18px;
    }

    .why-choose__client-description {
        font-size: 12px;
    }

    .why-choose__navigation-list {
        column-gap: 20.97px;
    }

    .why-choose__navigation-item {
        width: 12px;
        height: 12px;
    }

    .put-a-smile__heading {
        font-size: 32px;
    }

    .put-a-smile__companies-container {
        column-gap: 64.85px;
    }

    .put-a-smile__companies-container:first-child {
        margin-bottom: 153.53px;
    }

    .put-a-smile__company-img-container {
        width: 82.15px;
        height: 82.15px;
    }

    .put-a-smile__company-img-container_nayla,
    .put-a-smile__company-img-container_toko-kita {
        transform: translateY(calc(100% * 2 + 31.85px * 2)) rotate(45deg);
    }

    .put-a-smile__company-img-container_pet-shop-gembul,
    .put-a-smile__company-img-container_kho-pa-ka {
        transform: rotate(45deg);
    }

    .put-a-smile__company-img-container_hex-healthcare,
    .put-a-smile__company-img-container_binondo-beauty-supply {
        transform: translateY(calc(100% + 31.85px)) rotate(45deg);
    }

    .put-a-smile__company-img-container_burger-and-lobster,
    .put-a-smile__company-img-container_group-of-companies {
        transform: translateY(calc(-100% * 2 - 31.85px * 2)) rotate(45deg);
    }

    .put-a-smile__company-img-container_es-teh-indonesia,
    .put-a-smile__company-img-container_gong-cha {
        transform: translateY(calc(-100% - 31.85px)) rotate(45deg);
    }
    
    .put-a-smile__central-block {
        width: 346.48px;
        height: 346.48px;
        border-radius: 25.35px;
        padding: 19.67px;
        margin-bottom: 153.53px;
    }

    .put-a-smile__nested-rectangle {
        width: 307.15px;
        height: 307.15px;
        border-radius: 25.35px;
        padding: 24.04px;
    }

    .put-a-smile__red-rectangle {
        width: 259.06px;
        height: 259.06px;
        border-radius: 25.35px;
    }

    .form-block {
        position: relative;
    }

    .form-block__background {
        width: 1573.5px;
        height: 1433px;
        position: absolute;
        bottom: 0;
        right: 0;
        clip-path: path("M0 0L1518.89 225.397C1550.27 230.052 1573.5 256.985 1573.5 288.703L1573.5 1369C1573.5 1404.35 1544.85 1433 1509.5 1433L0 1433L0 0Z");
        z-index: -1;
        background-color: rgb(246, 246, 246);
    }

    .form-block__heading {
        width: 477px;
        margin-bottom: 32px;
        font-size: 32px;
    }

    .form-block__form-container {
        width: 489px;
        margin: 0 auto;
        border-radius: 32px;
        padding: 32px;
        background: radial-gradient(
            60% 60% at 50% 50%,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(250, 250, 250, 0.6) 100%
        );
    }

    .form-block__form {
        width: 425px;
        border-radius: 32px;
    }

    .form-block__map-img-container {
        width: 100%;
        max-width: 699px;
        height: 501px;
        margin: 0 0 0 auto;
        overflow: hidden;
        transform: translate(-111px, -28px);
    }

    .footer {
        padding-bottom: 16px;
    }

    .footer__nav {
        width: 100%;
        margin: 0;
    }

    .footer__list {
        display: flex;
        justify-content: space-between;
        width: 389px;
        margin: 0 auto 32px;
    }

    .footer__item {
        height: auto;
        margin: 0;
    }

    .footer__social-block {
        flex-direction: row;
        justify-content: space-between  ;
        width: 354px;
        margin: 0 auto 20px;
    }

    .footer__social-container {
        width: auto;
    }

    .footer__bottom-text-container {
        width: 406px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__rights-text {
        margin: 0;
        font-size: 12px;
    }

    .footer__service-link_privacy-policy {
        font-size: 12px;
        transform: translateY(2px);
    }

    .footer__service-link_terms-of-service {
        transform: translateY(2px);
    }

    .footer__separator {
        height: 14px;
    }

    .footer__separator_service-link {
        display: block;
    }
}