* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 375px) {
    .wrapper__header {
        margin-bottom: 78px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px 0;
    }

    .header__logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 114px;
        height: 38px;
    }

    .header__logo-img {
        display: block;
        width: 43.55px;
        height: 38px;
    }

    .header__logo-text {
        display: block;
        width: 60.2px;
        height: 19px;
    }

    .header__mobile-menu-btn {
        display: block;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .header__mobile-menu-icon {
        display: block;
        width: 24px;
        height: 18px;
    }
}