@media (min-width: 768px) {
    .get-started__main {
        width: 477px;
    }

    .get-started__stars-img {
        left: 58.79px;
    }

    .get-started__heading {
        font-size: 32px;
    }

    .get-started__description {
        font-size: 16px;
    }
}