.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-image: url(https://wallpapergod.com/images/hd/4k-minimalist-4096X2304-wallpaper-jqw330yuwvrdsg61.jpeg);
    /* background-size: 100% auto; */
}

@media screen and (min-aspect-ratio: 16/9) {
  .app {
    background-size: 100% auto;
  }
}

/* Якщо екран "високий" (ближче до 9:16) */
@media screen and (max-aspect-ratio: 16/9) {
  .app {
    background-size: auto 100%;
    background-position: center center;
  }
}